:root {
    --color-1: #5555aa;
    --color-2: #0a0a52;
    --color-3: #44ff44;
    --color-4: #55aa55;
    --color-5: #448888;
    --color-1-translucent: #5555aa80;
    --color-2-translucent: #0a0a5280;
    --color-3-translucent: #44ff4480;
    --color-4-translucent: #55aa5580;
    --color-5-translucent: #44888880;
    --color-text-light: #e8ffff;
    --color-text-dark: #223333;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
}

main {
    box-sizing: border-box;
    position: fixed;
    top: 5px;
    left: 5px;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
}

#edit-screen {
    position: relative;
    box-sizing: border-box;
    background-image: url("images/default-transparent-bg.png");
    background-repeat: repeat-x repeat-y;
    background-size: 5% auto;
    background-position: 50% 50%;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#edit-screen::after {
    --size: 20px;
    content: '';
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    mix-blend-mode: difference;
    left: calc(50% - var(--size) / 2);
    top: calc(50% - var(--size) / 2);
    clip-path: polygon(55% 0, 45% 0, 45% 45%, 0 45%, 0 55%, 45% 55%, 45% 100%, 55% 100%, 55% 55%, 100% 55%, 100% 45%, 55% 45%);
}

#main-canvas {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid black;
}

#config-toolbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: min-content;
    margin: 0;
    padding: 6px;
    z-index: 1;
    user-select: none;
}

#open-config-btn {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    z-index: 1;
    transition: transform 1s;
}

#config-toolbar .tab {
    display: flex;
    flex-direction: column;
}

#config-toolbar .tab .content {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 36px;
    max-height: calc(100vh - 50px);
}

#config-toolbar .tab .button-tab-toolbar:hover ~ .content, #config-toolbar .content:hover {
    display: flex;
}

#config-toolbar .tab .content::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 100%;
    top: -12px;
    background-color: transparent;
}

#config-toolbar .content input {
    background-color: transparent;
    border: none;
    color: var(--color-text-light);
    padding: 5px;
}

#config-toolbar .content input:active {
    filter: brightness(50%);
}

#config-toolbar .button-tab-toolbar {
    background-color: transparent;
    color: var(--color-text-light);
    border: none;
    border-right: 1px solid var(--color-1);
    border-left: 1px solid var(--color-2);
    flex-grow: 0;
    flex-basis: max-content;
    width: max-content;
    padding: 1px 5px;
}

#edit-screen-toolbar {
    --width-or-height-edit-screen-toolbar: 6vw;
    margin: 0;
    padding: 2px;
    position: fixed;
    display: flex;
    gap: 4px;
    overflow: hidden;
    
    flex-direction: column;
    width: var(--width-or-height-edit-screen-toolbar);
    left: 10px;
    top: 15px;
    height: calc(100vh - 30px);
}

#colorSelectorTab {
    position: fixed;
    width: 25vw;
    height: min-content;
    top: 15px;
    left: calc(6vw + 10px + 4px);
    padding: 5px;
    background-color: red;
}

#colorSelectorWidget {
    position: relative;
    display: flex;
    gap: 4px;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000;
}


#colorSelectorWidget > canvas#colorSelectorCanvas {
    background-color: transparent;
    background-image: url("images/default-transparent-bg.png");
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

#auxiliaryChannelSelector, #alphaChannelSelector {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 20px;
}

:is(#auxiliaryChannelSelector, #alphaChannelSelector) .cursor {
    --percent: 10%;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    left: var(--percent);
}

@media (orientation: portrait) {
    #edit-screen-toolbar {
        --width-or-height-edit-screen-toolbar: 6vh;
        flex-direction: row;
        height: var(--width-or-height-edit-screen-toolbar);
        top: auto;
        bottom: 10px;
        left: 15px;
        width: calc(100vw - 30px);
    }

    #colorSelectorTab {
        width: min-content;
        height: min-content;
        top: initial;
        bottom: 25vh;
        left: 15px;
    }
    
    #colorSelectorWidget {
        flex-direction: row;
    }

    #colorSelectorWidget > canvas#colorSelectorCanvas {
        background-color: transparent;
        background-image: url("images/default-transparent-bg.png");
        width: auto;
        height: 100%;
        margin-bottom: 0;
    }

    #colorSelectorWidget > #colorSelectorCanvas {
        height: calc(25vh - 10px);
        width: auto;
    }

    #auxiliaryChannelSelector, #alphaChannelSelector {
        width: 20px;
        height: calc(25vh - 10px);
        margin-right: 4px;
    }

    :is(#auxiliaryChannelSelector, #alphaChannelSelector) .cursor {
        width: 100%;
        height: 2px;
        left: 0;
        bottom: var(--percent);
    }
}

#edit-screen-toolbar button{
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    border-bottom-width: 4px;
    border-radius: 25%;
    box-sizing: border-box;
    list-style: none;
    background-color: var(--color-4);
    height: calc(var(--width-or-height-edit-screen-toolbar) - 4px);
    width: calc(var(--width-or-height-edit-screen-toolbar) - 4px);
    flex-shrink: 0;
}

#edit-screen-toolbar button:active {
    background-color: #4b4b4b;
    border-bottom-width: 1px;
    margin-top: 3px;
    height: calc(var(--width-or-height-edit-screen-toolbar) - 4px - 3px);
}


#creationTab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #0000007a;
}

#creationTab .menu {
    position: relative;
    width: max-content;
    height: max-content;
    max-width: 90vw;

    text-align: center;
}

#creationTab .menu div {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    gap: 5px;
}

#creationTab .menu div > :is(label, input) {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 50%;
    min-width: 0;
    padding: 5px;
}

#creation .menu div > input[type='number'] {
    flex-grow: 2;
    background-color: #000;
}

#creationTab .menu div :not(input):first-child {
    text-align: end;
}