body {
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    position: fixed;
    top: 5px;
    left: 5px;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
}

canvas#screen-editor {
    box-sizing: border-box;
    background-image: url("images/default-transparent-bg.png");
    background-repeat: repeat-x repeat-y;
    background-size: 5% auto;
    background-position: 0px 0px;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}