body {
    margin: 0;
    padding: 0;
    background-color: #290057;
}

main {
    box-sizing: border-box;
    position: fixed;
    top: 5px;
    left: 5px;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
}

#edit-screen {
    position: relative;
    box-sizing: border-box;
    background-image: url("images/default-transparent-bg.png");
    background-repeat: repeat-x repeat-y;
    background-size: 5% auto;
    background-position: 0px 0px;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-canvas {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid black;
}

#main-canvas.hidden {
    display: none;
}

#edit-screen-toolbar {
    --width-or-height-edit-screen-toolbar: 6vw;
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    position: fixed;
    display: flex;
    gap: 4px;
    background-color: #000d5898;
    box-shadow: 1px 1px 4px #000;
    border-radius: 10px;
    overflow: hidden;
    
    flex-direction: column;
    width: var(--width-or-height-edit-screen-toolbar);
    left: 10px;
    top: 15px;
    height: calc(100vh - 30px);
}

#colorSelectorTab {
    box-sizing: border-box;
    position: fixed;
    background-color: #000d5898;
    box-shadow: 1px 1px 4px #000;
    border-radius: 10px;
    width: 25vw;
    height: 80vh;
    top: 15px;
    left: calc(6vw + 10px + 4px);
    padding: 5px;
}

#colorSelectorTab.hidden {
    display: none;
}

#colorSelectorWidget {
    position: relative;
    display: flex;
    gap: 4px;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #000;
}


#colorSelectorWidget > canvas#colorSelectorCanvas {
    background-color: transparent;
    background-image: url("images/default-transparent-bg.png");
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

#auxiliaryChannelSelector, #alphaChannelSelector {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 20px;
}

:is(#auxiliaryChannelSelector, #alphaChannelSelector) .cursor {
    --percent: 10%;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000;
    left: var(--percent);
}

@media (orientation: portrait) {
    #edit-screen-toolbar {
        --width-or-height-edit-screen-toolbar: 6vh;
        flex-direction: row;
        height: var(--width-or-height-edit-screen-toolbar);
        top: auto;
        bottom: 10px;
        left: 15px;
        width: calc(100vw - 30px);
    }

    #colorSelectorTab {
        width: calc(100vw - 30px);
        height: 25vh;
        top: auto;
        bottom: calc(6vh + 15px + 4px);
        left: 15px;
    }
    
    #colorSelectorWidget {
        flex-direction: row;
    }

    #colorSelectorWidget > #colorSelectorCanvas {
        height: calc(25vh - 10px);
        width: auto;
    }

    #auxiliaryChannelSelector, #alphaChannelSelector {
        width: 20px;
        height: calc(25vh - 10px);
        margin-right: 4px;
    }

    :is(#auxiliaryChannelSelector, #alphaChannelSelector) .cursor {
        width: 100%;
        height: 2px;
        left: 0;
        bottom: var(--percent);
    }
}

#edit-screen-toolbar button{
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    border-bottom-width: 4px;
    border-radius: 25%;
    box-sizing: border-box;
    list-style: none;
    background-color: #969696;
    height: calc(var(--width-or-height-edit-screen-toolbar) - 4px);
    width: calc(var(--width-or-height-edit-screen-toolbar) - 4px);
    flex-shrink: 0;
}

#edit-screen-toolbar button:active {
    background-color: #4b4b4b;
    border-bottom-width: 1px;
    margin-top: 3px;
    height: calc(var(--width-or-height-edit-screen-toolbar) - 4px - 3px);
}


#creationTab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    background-color: #0000007a;
}

#creationTab.hidden {
    display: none;
}

#creationTab .menu {
    box-sizing: border-box;
    position: relative;
    width: max-content;
    height: max-content;

    background-color: #000d58cc;
    box-shadow: 1px 1px 4px #000;
    border-radius: 10px;
    padding: 10px;
    color: #eee;
    text-shadow: 1px 1px 3px #000000, -1px -1px 3px #000000;
}

#creationTab .menu div {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    gap: 5px;
}

#creationTab .menu div > * {
    box-sizing: border-box;
    width: 10vw;
    padding: 5px;
}